@model Core.ModelResponse.One.OneTeamResponse

@{ ViewData["Title"] = "Edit"; }
<hr />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h3>Edit Team</h3>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.Id" />
            <input type="hidden" asp-for="Team.LogoPath" />

            <partial name="_Team" />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-hand-left"></i> Back</a>
                <button type="submit" value="Save" class="btn btn-primary">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div>
            <h3>@Model.Team.Name</h3>
        </div>

        @if (!string.IsNullOrEmpty(Model.Team.LogoPath))
        {
<img src="@Model.Team.LogoPath" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />}
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
