@model Core.ModelResponse.One.OneGroupDetailsResponse

<div class="form-group">
    <label asp-for="GroupDetail.MatchesPlayed" class="control-label"></label>
    <input asp-for="GroupDetail.MatchesPlayed" class="form-control" />
    <span asp-validation-for="GroupDetail.MatchesPlayed" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GroupDetail.MatchesWon" class="control-label"></label>
    <input asp-for="GroupDetail.MatchesWon" class="form-control" />
    <span asp-validation-for="GroupDetail.MatchesWon" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GroupDetail.MatchesTied" class="control-label"></label>
    <input asp-for="GroupDetail.MatchesTied" class="form-control" />
    <span asp-validation-for="GroupDetail.MatchesTied" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GroupDetail.MatchesLost" class="control-label"></label>
    <input asp-for="GroupDetail.MatchesLost" class="form-control" />
    <span asp-validation-for="GroupDetail.MatchesLost" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GroupDetail.GoalsFor" class="control-label"></label>
    <input asp-for="GroupDetail.GoalsFor" class="form-control" />
    <span asp-validation-for="GroupDetail.GoalsFor" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GroupDetail.GoalsAgainst" class="control-label"></label>
    <input asp-for="GroupDetail.GoalsAgainst" class="form-control" />
    <span asp-validation-for="GroupDetail.GoalsAgainst" class="text-danger"></span>
</div>
