@model Core.ModelResponse.One.OneGroupResponse

<div class="form-group">
    <label asp-for="Group.Name" class="control-label"></label>
    <input asp-for="Group.Name" class="form-control" />
    <span asp-validation-for="Group.Name" class="text-danger"></span>
</div>